.abc{
    margin-left: auto;
   margin-right: auto;
    display: block;
    width: 300px;
   
    border-radius: 10px;
    
}
.ABC{
   margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    border-radius: 10px;
   
}
.sub{
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 20px;
    width: 100px;
    color: black ; background-color: rgb(247, 141, 12);
    border-radius: 9px;

}